<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70584831?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70584831?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70584831?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70345246?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Java-разработчик</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">ПАО&nbsp;Т Плюс</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70580331?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Разработчик Java (система лояльности)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70100007?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Java-разработчик</a></td> 
     <td class="city">Москва, Кожуховская</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/69702047?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Java-разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/68407626?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">QA Automation engineer / Специалист по автоматизированному тестированию (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/44870033?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Java-разработчик/Java Developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">EGAR TECHNOLOGY, INC.</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70480082?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Java-разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">ООО&nbsp;Тортуга</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70674529?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Middle Java - разработчик</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">ООО&nbsp;Открытые решения</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/69619999?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Разработчик backend Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/69732912?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Разработчик backend Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/68477476?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Team Lead Java</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Атос АйТи Солюшенс энд Сервисез</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/69771993?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Реверс-инженер</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">АО&nbsp;ИнфоТеКС</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70513397?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Computer vision engineer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">CodeInside</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/69953325?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Senior Java разработчик (Голосовые каналы)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70577187?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">QA engineer (manual / automation)</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Magenta Technology</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70584475?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Разработчик Frontend (Angular)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70584480?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Разработчик Frontend (Angular)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr> 
    <tr> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70584481?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Разработчик Frontend (Angular)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>                    
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70584831?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70345246?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Java-разработчик</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">ПАО&nbsp;Т Плюс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70100007?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Java-разработчик</a></td> 
     <td class="city">Москва, Кожуховская</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/69702047?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Java-разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/68407626?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">QA Automation engineer / Специалист по автоматизированному тестированию (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/44870033?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Java-разработчик/Java Developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">EGAR TECHNOLOGY, INC.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70480082?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Java-разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">ООО&nbsp;Тортуга</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70674529?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Middle Java - разработчик</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">ООО&nbsp;Открытые решения</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/68477476?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Team Lead Java</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Атос АйТи Солюшенс энд Сервисез</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/69771993?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Реверс-инженер</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">АО&nbsp;ИнфоТеКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70513397?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Computer vision engineer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">CodeInside</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/69953325?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Senior Java разработчик (Голосовые каналы)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70577187?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">QA engineer (manual / automation)</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Magenta Technology</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70584475?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Разработчик Frontend (Angular)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70584480?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Разработчик Frontend (Angular)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70584481?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Разработчик Frontend (Angular)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70584479?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Разработчик Frontend (Angular)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70584477?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Разработчик Frontend (Angular)</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kuznetsk.hh.ru/vacancy/70584478?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Penza">Разработчик Frontend (Angular)</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>